// Componenti

$alerts               : true
$breadcrumbs          : true
$button-groups        : true
$buttons              : true
$captions             : true
$close                : true
$dropdowns            : true
$forms                : true
$forms-aligned        : true
$forms-append         : true
$forms-grid           : true
$forms-inline         : true
$grids                : true
$grids-helpers        : true
$labels               : true
$modal                : true
$modal-buttons        : true
$modal-thumbs         : true
$offcanvas            : true
$navs                 : true
$pager                : true
$pagination           : true
$slider               : true
$sprites              : true
$tables               : true
$tabs                 : true

$width-helper-classes : false

// Type

$lap-start            : 660px
$desk-start           : 960px
$desk-end             : 1040px
$column-width         : 50px
$gutter-width         : 30px

$base-font-family     : "Ubuntu", sans-serif
$titles-font-family   : "Ubuntu", sans-serif

$base-font-size       : 16px
$base-line-height     : 27px
$base-border-radius   : 10px

$responsive-font-size : desk $base-font-size, portable 14px

$h1-size              : 60px
$h2-size              : 48px
$h3-size              : 36px
$h4-size              : 24px
$h5-size              : 18px

$small-size           : 14px
$smaller-size         : 12px

$input-padding-top    : 15px
$input-padding-side   : 15px

$btn-padding          : 1em 3em

// Colors

$text-color           : #696153
$link-color           : blue
$link-color-hover     : blue
$placeholder-color    : #cdc7b7

