%svg {
	background-repeat: no-repeat;
	background-image: url(../images/svg-sprites.svg);
}

.svg-analitics {
	background-position: 0 0;
	@extend %svg;
}

.svg-analitics-dims {
	width: 50px;
	height: 50px;
}

.svg-anda {
	background-position: 0 -50px;
	@extend %svg;
}

.svg-anda-dims {
	width: 50px;
	height: 50px;
}

.svg-attachment {
	background-position: 0 -100px;
	@extend %svg;
}

.svg-attachment-dims {
	width: 50px;
	height: 50px;
}

.svg-cake {
	background-position: 0 -150px;
	@extend %svg;
}

.svg-cake-dims {
	width: 133px;
	height: 110.666px;
}

.svg-croissant {
	background-position: 0 -261px;
	@extend %svg;
}

.svg-croissant-dims {
	width: 122.819px;
	height: 91.798px;
}

.svg-pie {
	background-position: 0 -353px;
	@extend %svg;
}

.svg-pie-dims {
	width: 125.775px;
	height: 84.833px;
}

