%svg {
	background-repeat: no-repeat;
	background-image: url(../images/svg-sprites.svg);
}

.svg-cake {
	background-position: 0 0;
	@extend %svg;
}

.svg-cake-dims {
	width: 145px;
	height: 122.666px;
}

.svg-croissant {
	background-position: 0 -123px;
	@extend %svg;
}

.svg-croissant-dims {
	width: 134.81900000000002px;
	height: 103.798px;
}

.svg-pie {
	background-position: 0 -227px;
	@extend %svg;
}

.svg-pie-dims {
	width: 137.775px;
	height: 96.833px;
}

